{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forkin Fourtunate</title>
    <link rel="stylesheet" href="{% static 'css/cartstyle.css'%}">
</head>
<body class="">
    
    <div class="container">
        <header>
            <h2 style = "color: rgb(255, 255, 255);font-weight: 510; font-size: 4.1rem;margin-bottom: 0.4rem;line-height: 0.5;text-shadow: 4px 1px red;
					background-clip: text;height: 56px;backdrop-filter: blur(7px);
					">Forkin Fortunate </h2>
            <div class="shopping">
                <img src="static/images2/cart.png">
                <span class="quantity">0</span>
            </div>
        </header>

        <div class="list">
          
        </div>
    </div>
    <div class="card">
        <h1>Cart</h1>
        <ul class="listCard">
        </ul>
        <button class="checkout">Checkout</button>
        <div class="checkOut">
            <button class="checkout" data-checkout-url="{% url 'checkoutpage' %}">Go to checkout</button>
            <div class="total">0</div>
            <div class="closeShopping">Close</div>
        </div>
    </div>

    <script src="static/js/cart.js"></script>
</body>
</html>